<link rel="stylesheet" href="/stylesheets/course-details.css">


  <header class="bg-light">
    <div class="container">
      <h1 class="display-4">{{course.name}}</h1>
      <p class="lead">{{course.code}}</p>
      <p>{{course.term}}</p>
    </div>
  </header>


<div class="content-wrapper">
  <div class="circular-container"> 
    <a  id="clock"href="#"><i class="far fa-clock"></i></a>
  </div>
  <div class="circular-container">
    <a id="door"href="#"><i class="fas fa-door-open"></i></a>
  </div>

  <div class="circular-container">
    <a id="gavel"href="#"><i class="fas fa-gavel"></i></a>
  </div>
  <div class="circular-container">
    <a id="map" href="#"><i class="fas fa-sitemap"></i></a>
    
  </div>
  <div class="circular-container">
    <a id="task"href="#"><i class="fas fa-tasks"></i></a>
  </div>
  <div class="circular-container">
    <a id="file" href="#"><i class="far fa-file"></i></a>
  </div>
  <div class="circular-container">
    <a id="video" href="#"><i class="fas fa-video"></i></a>
  </div>
</div>

