  <header class='bg-light'>
    <div class="container">
      <h1 class="display-4 header-text">Student List</h1>
    </div>
  </header>

<ul>
  {{#each students}}
  <a href="/student/profile/{{this.id}}"><li>{{this.name}}</li></a>

  {{/each}}
</ul>
