  <header class='bg-light'>
    <div class="container">
      <h1 class="display-4 header-text">Add Student</h1>
    </div>
  </header>


<form action="/students/create" method="post">
<br><label for="name">Name</label>
<br><input type="text" name="name" id="name">

<br><label for="lastName">Lastname</label>
<br><input type="text" name="lastName" id="lastName">

<br><label for="username">Username</label>
<br><input type="text" name="username" id="username">

<br><label for="password">Password</label>
<br><input type="text" name="password" id="password">

<br><button>Create</button>
</form>