  <header class='bg-light'>
    <div class="container">
      <h1 class="display-4 header-text">Instructor List</h1>
    </div>
  </header>


<ul>
  {{#each instructors}}

  <a href="/instructor/profile/{{this.id}}"><li>{{this.name}} {{this.lastName}}</li></a>
  {{/each}}
</ul>