<header class='bg-light'>
    <div class="container">
      <h1 class="display-4 header-text">Profile</h1>
    </div>
  </header>

<h3>{{currentUser.name}} {{currentUser.lastName}}</h3>
<h3>Role:{{currentUser.role}}</h3>
